.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
  text-align: center;
  background-image: url('https://wallpapercave.com/wp/wp7479371.jpg');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}


.titleSection {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.titleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #2090f3;
  font-size: 18px;
  padding-left: 10px;
}

.titleSection button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #206aab;
  color: white;
  font-size: 18px;
  margin: 5px;
  margin-bottom: 0px;
}

.titleSection button:hover {
  cursor: pointer;
}

.displaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaySection h3,
h4 {
  background-color: #206aab;
  margin: 5px;
  color: white;
  border-radius: 10px;
  padding: 3px;
}

h1 {
  background-color: #206aab;
  margin: 5px;
  color: white;
  border-radius: 10px;
  padding: 3px;
}

.displaySection h2 {
  background-color: #206aab;
  margin: 1px;
  color: white;
  border-radius: 10px;
  padding: 3px;
}

.displaySection img {
  width: 150px;
  margin: 0px;
}