.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
  text-align: center;

}

body {
  background-color: #83C8E4;
}

.titleSection {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.titleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #2090f3;
  font-size: 15px;
  padding-left: 10px;
  text-align: left;
  background-color: #C3E2EE;
}

.titleSection button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #C3E2EE;

  font-size: 18px;
  margin: 5px;
  margin-bottom: 0px;
}

.titleSection button:hover {
  cursor: pointer;
}

.displaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaySection h3,
h4 {
  background-color: #C3E2EE;
  margin: 5px;

  border-radius: 10px;
  padding: 3px;
}

h1 {
  background-color: #C3E2EE;
  margin: 5px;

  border-radius: 10px;
  padding: 3px;
}

.displaySection h2 {
  margin: 1px;
  background-color: #C3E2EE;
  border-radius: 10px;
  padding: 3px;
}

.displaySection img {
  width: 150px;
  margin: 0px;
}